<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

</head>
<body>
    <header>
        <h2><a href="/">Our wonderful App</a></h2>
        <nav>
            <a href="/">Login</a>
        </nav>
    </header>

    <main>
        <h3>Login page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores autem voluptate dignissimos nemo voluptatibus aspernatur sapiente qui saepe nihil voluptatem, nesciunt odit, natus, sed consequuntur recusandae omnis doloremque suscipit!</p>
    </main>

    <footer>
        <small> &copy; 2023 Our Wonderful App</small>
    </footer>
</body>
</html>